body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}
h1,h2,h3,h4{
    font-family: 'Lusitana', serif;
}

header{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    font-size: 0.8em;
    position:absolute;
    
    background-color: rgba(250, 235, 215, 0.37);
    padding: 2em;
    width: 100vw;
}

#frontPage{
    height: 70vh;
    background-image: url("./assets/wideInterior.jpg");
display: flex;
flex-direction: column;
background-size: cover;
justify-content: center;
align-items: center;

}


#screenPicture{
    height: 80vh;
    display: flex;
    margin: auto;
  
}

#searchBar{
    background-color: cornflowerblue;
    height: 5vh;
    padding: 0.5em;
    position: sticky;
    top:0;
    

}


.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
      margin: 5%;
      margin-bottom: 20%;
}


.section1 h1{
    grid-column: span 2;
    text-align: center;
    font-size: 3em;
}

.section1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 img{
    height: 140px;
    width: 140px;
}

.section1 h4{
    font-size: 2em;
}

.checkeredGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
      margin: 12%;
      margin-bottom: 20%;

}

.checkeredGridItem{
    border: solid 1px black;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}


.checkeredGridItemLong{
    border: solid 1px black;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}



#section2 div:nth-child(2){
    background-image: url("./assets/girlsitting.jpg");
    background-size: contain;
}


#section2 div:nth-child(3){
    background-image: url("./assets/sofa.jpg");
    background-size: contain;
}



#section2 div:nth-child(6){
    background-image: url("./assets/interior.jpg");
    background-size: contain;
}


#section2 div:nth-child(7){
    background-image: url("./assets/dining.jpg");
    background-size: contain;
}




.listingGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10%;
    text-align: center;

}


.listingGrid h2{
    grid-column: span 3;
  
}


#section3 section:nth-child(1){
    background-image: url("./assets/multiplePeople.jpg");
    background-size: contain;  
}


#section3 section:nth-child(2){
    background-image: url("./assets/lookingAtIpad.jpg");
    background-size: contain;  
}














#section4 div:nth-child(2){
    background-image: url("./assets/standingGirl.jpg");
    background-size: contain;  
}

#section4 div:nth-child(5){
   overflow: hidden;
}


#section4 div:nth-child(6){
  
    background-image: url("./assets/lookingAtIpad.jpg");
    background-size: contain;  
 }




 
#section5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 7%;

}

#section5 section{
    grid-column: span 3;
}




#section5-5 div:nth-child(6){
  
    background-image: url("./assets/topView.jpg");
    background-size: contain;  
 }




 
 
#lastPart{
    background-image: url("./assets/verandaView.jpeg");
    height: 60vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;


}

footer div{
padding: 5%;
text-align: justify;
}

#AddressInfo{
    display: flex;
    justify-content: space-around;
}

#AddressInfo div{

    margin: 3%;
    text-align: left;

}


#FinalTag{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    
    text-align: center;
    grid-column: span 2;
   
}